

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#board {
    display: grid;
    grid-template-rows: repeat(6, 100px);  
    grid-template-columns: repeat(4, 100px);  
    gap: 10px;  
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: relative;
    border: 2px solid black; 
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
    color: black; 
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


.cell i {
    font-size: 40px;
    color: white;
    border: 2px solid black; 
    border-radius: 50%; 
    padding: 5px;
}


.pie {
    width: 30px; 
    height: 60px; 
    background-color: white;
    border-radius: 50%; 
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    border: 2px solid black; 
}

.pie::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
